body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DFF2EB;
}

.pokemon {
  cursor: pointer;
  min-height: 5px;
  min-width: 5px;
  animation: fade-in 1.5s;
  position: absolute;
  z-index: 1;
}

.jail {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: #B9E5E8;
  justify-content: center;
  padding: 10px 0;
  height: 10vh;
}

.fade-in-out {
  opacity: 0;
  animation: fade-in 1s ease-in forwards, fade-out 4s 1s ease-out forwards;
}

.pokemon-place {
  position: relative;
  width: 99vw;
  height: 80vh;
}

.pokemon-card {
  font-size: .8em;
  color: #1a1818;
  animation: fade-in 1s;
}

.pokemon-card img {
  width: 60%;
}

.pokemon-card p {
  margin: 0;
  text-align: center;
}


.score-card {
  color: #fff;
  font-size: 6em;
  font-style: bold;
  position: fixed;
  top: 10px;
  left: 10px
}

.winner-banner {
  width: 100vw;
  background-color: #7AB2D3;
  position: fixed;
  z-index: 1;
  height: 88vh;
  animation: fade-in 2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winner-banner h1 {
  color: #FFDC7F;
  font-size: 3em;
}

.winner-banner button {
  font-size: 2em;
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.winner-banner button:hover {
  text-shadow: 1px 1px 1px #000,
    3px 3px 5px rgb(170, 170, 179);
  transform: scale(1.1);
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); */
}

@media screen and (min-width: 800px) {
  .pokemon-card {
    font-size: 1em;
    font-weight: 400;
    padding: 10px;
    margin: 0 10px;
    font-size: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 2px solid #DFF2EB
  }

  .pokemon-card img {
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }

  .pokemon-card h1 {
    font-size: 10em;
  }

  .jail {
    height: 15vh;
  }

  .winner-banner {
    height: 83vh;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}